.footer {
    background-color: #002244; 
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
  }
  
  .footer-content {
    display: flex;
    gap: 50px;
    text-align: right;
  }
  
  .footer-info p {
    margin: 4px 0;
  }