/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background: white;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .logo {
        margin-right: auto;
    }

    @media (max-width: 768px) {
  .servicio-row {
    flex-direction: column;
  }

  .servicio-info {
    text-align: center;
  }

  .servicio-info p {
    text-align: center;
  }
}
    .footer {
        flex-direction: column;
        text-align: center;
    }
}